@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Estilos gerais */
* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
/* Estilos header */
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.leftheader,
.centerheader,
.rightheader {
  display: flex;
  padding: 4px;
}

.centerheader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rightheader {
  gap: 7px;
}
